body {
  background-image: url(https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?size=626&ext=jpg);
}
h1 {
  text-align: center;
  margin: 2rem;
}
form {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 0px auto;
  max-width: 40rem;
}
.card img {
  width: 12rem;
  margin: 1.6rem 0px;
  margin-left: 1rem;
}
